@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 

/* Password Toggle */

#hs-toggle-password-checkbox {
  color: #4f46e5;
  border-color: #4f46e5;
}

/* Profile */

.fade-in {
  color: rgba(0, 0, 0, 0.3); 
  transition: color 0.5s ease-in-out;
}
.fade-in:hover {
  color: black; 
}

/* Chat */

.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chatSidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}
.chatMain {
  height: 100%;
  flex: 0.8;
}
.chatHeader {
  margin: 30px 0 20px 0;
}
.chatUsers > * {
  margin-bottom: 10px;
  color: #4f46e5;
  font-size: 14px;
}
.chatMainHeader {
  width: 100%;
  height: 10vh;
  padding: 20px;
  background-color: #f9f5eb;
}
.leaveChatButton {
  padding: 10px;
  width: 100px;
  border: none;
  outline: none;
  background-color: #4f46e5;
  cursor: pointer;
  color: #eae3d2;
}
.leaveChatButton:hover {
  background-color: #7b76de;
}
.messageContainer {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}
.messageContainer > * {
  margin-bottom: 10px;
}
.chatFooter {
  padding: 10px;
  background-color: #f9f5eb;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendButton {
  width: 150px;
  background-color: #4f46e5;
  padding: 10px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
}
.sendButton:hover {
  background-color: #7b76de;
}
.messageRecipient {
  background-color: #c9c7c1;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.messageSender {
  background-color: #7b76de;
  color: white;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
.messageChats > p {
  font-size: 13px;
}
.senderName {
  text-align: right;
}
.container {
  display: flex;
}
